body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.title-bar {
    background-color: #b02727;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.dad-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.main-content {
    text-align: center;
    padding: 20px;
    margin-top: 120px; /* Increased margin to create space for title bar */
}

h2, h3 {
    color: #333;
}

.subsection {
    margin: 20px 0;
}

.career-section {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px;
}

.timeline {
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ccc;
}

.timeline-event {
    position: relative;
    margin-bottom: 20px;
}

.event-date {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b02727;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Navigation Links Styling */
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    text-decoration: underline;
}

ul {
	margin: 0;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
	margin-block-start: 0.6em;
}

ul > li {
	list-style: disc;
}
